@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox-button:has(input:checked) {
  background: #0A84FF;
}

.checkbox-button:has(input:focus) {
  box-shadow: 0 0 0 2.5px #0a84ffb6;
}

.checkbox-button:not(:has(input:checked)) svg {
  opacity: 0;
}